

body {
	background-color: black;
	margin: 0;
	color: #1e1f25;
	font-family: 'Monda', sans-serif;
}

nav{
	text-align: center;
	/*border: 1px solid;*/
	width: 100%;
	height: 30px;
	background-color: white;
	font-size: 1.5em;
	font-family: 'Alegreya Sans', sans-serif;
}

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li{
	display: inline;
	margin: 3px;
}

#screenshot{
	z-index: -1;
	background-image:url('http://farm8.staticflickr.com/7350/11938772615_50edbfe1bd_o.jpg');
	background-attachment: fixed;
	background-size: 100%;
	height: 400px;
	z-index: 10;
}

#sticky{
	position:absolute;
    margin:0 auto;
    top:400px;
    z-index: 30;
}

#photo{
	position: absolute;l
	/*height: 1200px;*/
	width: 100%;
	z-index: -1;
	top: 430px;
	/*background-color: white;*/
	/*background-image:url('http://farm3.staticflickr.com/2857/11958422345_dac40c7ff0_o.jpg');  /* 'http://farm8.staticflickr.com/7446/11939619836_ca5b984196_o.jpg'); */*/
	background-size: cover;
	background-repeat: no-repeat;
}

#photo img{
	width: 100%;
}

#content-container{
	height: 1080px;
	width: 100%;
	top: 600px;
	position: absolute;
	z-index: 20;
	background-color: white;
	/*visibility: hidden;*/
}

a:link {text-decoration:none;}
a:visited {
	text-decoration:none;
	color: black;
}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}
