<section id="screenshot"></section>

<nav id="sticky">
	<ul>
		<li>about</li>
		<li>projects</li>
		<li>experience</li>
		<li>contact</li>
	</ul>
</nav>

<section id="photo" data-stellar-ratio="1.7">test1<BR>test2<BR>test3<BR>test4<BR>test5<BR>test6<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR>test<BR></section>

<section id="content-container" >some shtuff 1<br>some shtuff 2<br>some shtuff 3<br>some shtuff 4<br>some shtuff 5<br>some shtuff 6<br>some shtuff 7<br>some shtuff 8<br>some shtuff<br>some shtuff<br>some shtuff<br>some shtuff</section>