<section id="screenshot"></section>

<nav id="sticky">
	<ul>
		<li><a href="">About</a></li>
		<li><a href="">Projects</a></li>
		<li><a href="">Experience</a></li>
		<li><a href="">Contact</a></li>
	</ul>
</nav>

<section id="photo" data-stellar-ratio="1.7"><img src="http://farm3.staticflickr.com/2857/11958422345_dac40c7ff0_o.jpg"></section>

<section id="content-container" >
	<div id="about">About me section goes here.</div>
</section>