<h1 class="page-title">About Justin</h1>

<h2>My Journey</h2>

<p>I'm a technologist with 10 years experience in the IT industry, having worked in a variety of positions.  My most recent position was as an IT Manager in an award winning call center in Savannah, GA.</p>

<p>In early 2013, I decided to supplement my existing technical skills by strengthening them where I felt there were weakest—programming.  This lead me to enrolling in General Assembly's Web Development Immersive course.  Over the next 12 weeks I spent all day, every day, learning to program in Ruby on Rails, JavaScript, and HTML5.  Along the way I found a new love in coding, and decided to make the full career shift from IT to development.</p>

<p>Now in 2014, a General Assembly graduate, I'm continuing on my new path of life-long learning; excited by the challenges I'll overcome and new things I'll discover along the way. </p>

<h2>Skills</h2>

<p>At General Assembly I studied and worked with a variety of technologies and techniques, in addition to the core of Ruby on Rails, JavaScript, HTML, and CSS.  Agile development methodolgies.  Modern web development conventions and techniques including writing Object Oriented and DRY code, RESTful architecture, and single-page applications using AJAX.  JavaScript libraries such as jQuery, jQueryUI, Underscore.js, and Backbone.js.  Additionally, while working on project applications, I found myself developing custom user authorizations, and an application specific custom JavaScript MVC.</p>

<p>Going forward, I am dedicating myself to expanding my knowledge of unit testing with frameworks such as RSPEC, and exploring the depth of what can be done in HTML5 and data visualization by using Canvas with D3.js; all while making sure to write better code.</p>