<h1 class="page-title">Projects</h1>

<article class="project">
	<h2>Glass Events</h2>
	<h3>Group event planner focusing on transparency</h2>
	<p>My role for this projects was user levels etc.</p>
	
	<h4>Features</h4>
	<ul>
		<li>Custom user authorizations, featuring multiple user levels</li>
		<li>etc</li>
		<li>etc</li>
	</ul>
	
	<h4>Resources</h4>
	<ul class="resources">
		<li><a href="url">Project</a></li>
		<li><a href="url">repo</a></li>
	</ul>
</article>

<article class="project">
	<h2>Project Name</h2>
	<h3>Classroom tool for asking questions</h2>
	<p>My role for this projects was user levels etc.</p>
	<ul class="resources">
		<li><a href="url">Project</a></li>
		<li><a href="url">repo</a></li>
	</ul>
</article>

<article class="project">
	<h2>Project Name</h2>
	<h3>Classroom tool for asking questions</h2>
	<p>My role for this projects was user levels etc.</p>
	<ul class="resources">
		<li><a href="url">Project</a></li>
		<li><a href="url">repo</a></li>
	</ul>
</article>