<h1 class="page-title">Projects</h1>

<article class="project">
	<h2>Glass Events</h2>
	<h3>Group event planner focusing on transparency.</h2>
	<p>First project during the Web Development Immersive at General Assembly.  Focus for the project was Ruby on Rails and data modeling.</p>
	
	<h4>Features</h4>
	<ul>
		<li>Allows users to track the progress of the planning of an event.</li>
		<li>Users can see which event organizers are fullfiling certain tasks.</li>
		<li>Users can see quotes for services being considered.</li>
		<li>Users can track event costs as providers are chosen for each service.</li>
	</ul>

	<h4>Technical Features</h4>
	<ul>
		<li>Custom user authorizations, featuring multiple user levels.</li>
		<li>Strong data model, tracking all user interacation with the event planning process.</li>
		<li>Ruby on Rails, HTML, CSS, Foundation Framework.</li>
	</ul>
	
	<h4>Resources</h4>
	<ul class="resources">
		<li><a href="http://glassevents.herokuapp.com/">Project</a></li>
		<li><a href="https://github.com/JustinGA/glassevents">Repo</a></li>
	</ul>
</article>

<article class="project">
	<h2>HTML5 Picross</h2>
	<h3>Logic based puzzle game.</h2>
	<p>Final project during the Web Development Immersive at General Assembly.  Open-ended project to use technologies learned during the course.</p>

	<h4>Features</h4>
	<ul>
		<li>Users use the provided numbers to decypher which cells in the grid are filled.</li>
		<li>Users can flag cells to assist in decyphering the board.</li>
		<li>A completely puzzle board will then form a picture.</li>
		<li>Logic and features similar to Sudoku and Minesweeper.</li>
	</ul>

	<h4>Technical Features</h4>
	<ul>
		<li>Puzzle board built in served on the backend.</li>
		<li>JavaScript retrieves the puzzle key via AJAX request, then monitors the gameboard interactions and compares them against the puzzle key. </li>
		<li>Ruby on Rails, HTML, CSS, JavaScript, jQuery, Underscore.js, AJAX.</li>
	</ul>
	
	<h4>Resources</h4>
	<ul class="resources">
		<li><a href="http://gapicross.herokuapp.com/">Project</a></li>
		<li><a href="https://github.com/JustinGA/Picross">Repo</a></li>
	</ul>
</article>

<article class="project">
	<h2>AnyQuestions</h2>
	<h3>Classroom tool for asking questions.</h2>
	<p>Real-time tool for making sure the most common questions are answered while letting the instructor control the flow of the lesson.</p>

	<h4>Features</h4>
	<ul>
		<li>Students ask questions which are then updated for all students in realtime.</li>
		<li>Other students can upvote any questions that they also have.</li>
		<li>The question list will resort based on the most common questions.</li>
		<li>Instructor can monitor the question list and decide if a question needs to be answered before continuing on, or if they should come back to the question at a later time.</li>
		<li>Once a question has been answered it can be dismissed by the instructor.</li>
	</ul>

	<h4>Technical Features</h4>
	<ul>
		<li>Single page application updated in real time via AJAX requests.</li>
		<li>Custom JavaScript MVC adds and removes questions, tracks questions' upvotes, and maintains proper sorting of questions in real time.</li>
		<li>Ruby on Rails, HTML, CSS, JavaScript, custom JavaScript MVC, jQuery, Underscore.js, AJAX.</li>
	</ul>
	
	<h4>Resources</h4>
	<ul class="resources">
		<li hidden><a href="url">Project</a></li>
		<li><a href="https://github.com/JustinGA/AnyQuestions">Repo</a></li>
	</ul>
</article>