/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

body {
	background-color: black;
	margin: 0;
}

nav{
	text-align: center;
	/*border: 1px solid;*/
	width: 100%;
	height: 30px;
	background-color: #1E6D74;
}

nav ul{
	list-style: none;
	margin: 0;
	padding: 0;
}

nav ul li{
	display: inline;
	margin: 3px;
}

#screenshot{
	z-index: -1;
	background-image:url('http://farm8.staticflickr.com/7350/11938772615_50edbfe1bd_o.jpg');
	background-attachment: fixed;
	background-size: 100%;
	height: 400px;
	z-index: 10;
}

#sticky{
	position:absolute;
    margin:0 auto;
    top:400px;
    z-index: 30;
}

#photo{
	position: absolute;l
	height: 1200px;
	width: 100%;
	z-index: -1;
	top: 430px;
	/*background-color: white;*/
	background-image:url('http://farm8.staticflickr.com/7446/11939619836_ca5b984196_o.jpg');
	background-size: cover;
	background-repeat: no-repeat;
}

#content-container{
	height: 1080px;
	width: 100%;
	top: 900px;
	position: absolute;
	z-index: 20;
	background-color: #028E9B;
	/*visibility: hidden;*/
}